html{
	height: 100%;
}
body{
	margin:0;
	height: 100%;
}
#body{
	position: relative;
	
}
#top-navbar{
	position:relative;
	top:0;
	list-style-type:none;
	margin:0px;
	padding:0px;
	}
.footer-navbar{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#body{
	position: relative;
	min-height:100%;
}
#top-right{
	position: absolute;
	top:0;
	right:0;
	height:2em
}
#footer{
	position:absolute;
	bottom:0px;
	width: 100%;
	height:1em;
	margin-bottom:1em;
}
#footer-left{
	position: absolute;
	left:0;
}
#footer-right{
	position: absolute;
	right:0;
}
#Google-logo{
	position: absolute;
	left:600px;
	top:200px;
}
li{
	display:inline;
	margin:20px;
	font-size:13px;
	font-family:sans-serif;
}
img{
	display:block;
	margin-right:auto;
	margin-left:auto;
	}
input{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:584px;
	height:36px;
}